/* You can add global styles to this file, and also import other style files */
@import url('./config-css/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: var(--background-color);
}